.hero_section {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.hero_section h1 {
	font-size: clamp(2.4rem, -1rem + 7vw, 10rem);
	text-transform: uppercase;
}
